{% extends 'jury/export/layout.html.twig' %}

{% block body %}
    <style>
        h2 {
            padding-top: 0;
        }

        td:first-child {
            padding-right: 10px;
        }

        tr.top-line {
            border-top: 4px solid #ccc;
        }

        tr.top-line td {
            padding-top: 8px;
        }

        .page-break {
            page-break-before: always;
        }

        /* CSS from Bootstrap for the team id badge. */
        .badge {
            display: inline-block;
            padding: .25em .4em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: .25rem;
        }
        .bg-secondary {
            color: #fff;
            background-color: #6c757d;
        }
    </style>

    {% for queue, clarifications in grouped %}
        {% if not loop.first %}
            <div class="page-break"></div>
            <h1>{{ title }}</h1>
        {% endif %}
        <h2>{{ queues[queue] }}</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Tempo do Concurso</th>
                    <th scope="col">De</th>
                    <th scope="col">Para</th>
                    <th scope="col">Assunto</th>
                    <th scope="col">Respondido?</th>
                </tr>
            </thead>
            <tbody>
            {% for clarification in clarifications %}
                <tr class="top-line">
                    <td>{{ clarification.clarId }}</td>
                    <td>{{ clarification.submitTime | printtime(null, contest) }}</td>
                    <td>
                        {% if clarification.sender %}
                            {{ clarification.sender.effectiveName }} {{ clarification.sender | entityIdBadge('t') }}
                        {% else %}
                            Júri
                        {% endif %}
                    </td>
                    <td>
                        {% if clarification.recipient %}
                            {{ clarification.recipient.effectiveName }} {{ clarification.recipient | entityIdBadge('t') }}
                        {% else %}
                            Público
                        {% endif %}
                    </td>
                    <td>
                        {% if clarification.problem %}
                            P: {{ clarification.problem.externalid }} -
                        {% endif %}
                        {{ clarification.subject }}
                    </td>
                    <td>
                        {% if clarification.answered %}
                            Sim
                        {% else %}
                            Não
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td colspan="5">
                        <pre class="output_text">{{ clarification.message }}</pre>
                    </td>
                </tr>
                {% if clarification.responses|length > 0 %}
                    <tr>
                        <td>&nbsp;</td>
                        <td colspan="5">
                            <table class="table table-sm table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">Resposta de</th>
                                    <th scope="col">Tempo</th>
                                    <th scope="col">Mensagem</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for response in clarification.responses %}
                                    <tr>
                                        <td>
                                            {% if response.sender %}
                                                {{ response.sender.effectiveName }} {{ response.sender | entityIdBadge('t') }}
                                            {% else %}
                                                Júri
                                            {% endif %}
                                        </td>
                                        <td>{{ response.submitTime | printtime(null, contest) }}</td>
                                        <td><pre class="output_text">{{ response.message }}</pre></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}  