{% extends 'jury/export/layout.html.twig' %}

{% block body %}
    <h2>Prémios</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Lugar</th>
            <th scope="col">Equipa</th>
            <th scope="col">Prémio</th>
            <th scope="col">Problemas resolvidos</th>
            <th scope="col">Tempo total</th>
            <th scope="col">Hora da última submissão aceite</th>
        </tr>
        </thead>
        <tbody>
        {% for row in awarded %}
            <tr>
                <th scope="row">{{ row.rank }}</th>
                <th scope="row">{{ row.team }}</th>
                <td>{{ row.award }}</td>
                <td>{{ row.solved }}</td>
                <td>{{ row.total_time }}</td>
                <td>{{ row.max_time }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% for award in ['Ranked', 'Highest Honors', 'High Honors', 'Honors'] %}
        {% if ranked[award] is defined %}
            <h2>
                {% if award == 'Ranked' %}
                    Outras equipas classificadas
                {% else %}
                    {{ award }}
                {% endif %}
            </h2>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Classificação</th>
                    <th scope="col">Equipa</th>
                    <th scope="col">Problemas resolvidos</th>
                </tr>
                </thead>
                <tbody>
                {% for row in ranked[award] %}
                    <tr>
                        <th scope="row">{{ row.rank }}</th>
                        <th scope="row">{{ row.team }}</th>
                        <td>{{ row.solved }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endfor %}

    <h2>Menções honrosas</h2>
    <table class="table">
        <tbody>
        {% for row in honorable|batch(2) %}
            <tr>
                {% for team in row %}
                    <td>{{ team }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}