{% extends "jury/base.html.twig" %}

{% block title %}Análise - Linguagens em {{ current_contest.shortname |
default('') }} - {{ parent() }}{% endblock %}

{% block content %}
    <h1>Estatísticas de Linguagem</h1>
    {% include 'jury/partials/analysis_filter.html.twig' %}

    <div class="row">
        {% for langid, language in languages %}
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-header">
                        {{ language.name }}
                    </div>
                    <div class="card-body">
                        <i class="fas fa-users fa-fw"></i> {{ language.team_count }} equipa{% if language.team_count != 1 %}s{% endif %}
                        {% if language.team_count > 0 %}
                            <div class="btn-group" role="group">
                                <input type="checkbox"
                                       class="btn-check team-list-toggle"
                                       id="team-list-toggle-{{ langid }}"
                                       data-team-list-container="#team-list-{{ langid }}"
                                       autocomplete="off" />
                                <label for="team-list-toggle-{{ langid }}" class="btn-sm btn btn-outline-secondary">
                                    <i class="fas fa-eye"></i> Mostrar
                                </label>
                            </div>
                            <div class="card mt-2 mb-2 d-none team-list-container" id="team-list-{{ langid }}">
                                <div class="card-body">
                                    {% for team in language.teams %}
                                        <a href="{{ path('jury_team', {teamId: team.teamid}) }}">
                                            {{ team | teamName(null, false) }}
                                        </a><br/>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        <table class="table table-sm table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID do Problema</th>
                                <th scope="col">Nome do Problema</th>
                                <th scope="col">Tentativas</th>
                                <th scope="col">Soluções</th>
                                <th scope="col">Equipas Tentadas</th>
                                <th scope="col">Equipas Resolvidas</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for problem in language.problems %}
                                <tr>
                                    <td>
                                        <a href="{{ path('jury_problem', {probId: problem.problem.probid}) }}">
                                            {{ problem.problem.probid }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ path('jury_problem', {probId: problem.problem.probid}) }}">
                                            {{ problem.problem | problemBadge }} {{ problem.problem.name }}
                                        </a>
                                    </td>
                                    <td>{{ problem.attempts }}</td>
                                    <td>{{ problem.solutions }}</td>
                                    <td>{{ problem.teams_attempted }}</td>
                                    <td>{{ problem.teams_solved }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block extrafooter %}
    <script>
        $(function() {
            $('.team-list-toggle').on('change', function() {
                $($(this).data('team-list-container')).collapse('toggle');
            });
        });
    </script>
{% endblock %}