<div class="d-flex flex-wrap flex-column flex-md-row">
    <h2 class="flex-grow-1">Clarificações para {{ contest.name }}</h2>

    <div class="btn-group mb-3" role="group">
        <a href="{{ path('jury_clarifications') }}"
           class="btn btn-secondary{% if selectedQueue is null %} active{% endif %}">
            Todas as Clarificações
        </a>
        {% for queue, title in queues %}
            <a href="{{ path('jury_clarifications', {'queue': queue}) }}"
               class="btn btn-secondary{% if selectedQueue == queue %} active{% endif %}">
                {{ title }}
            </a>
        {% endfor %}
    </div>
    <div class="w-100 text-right">
        <a href="{{ path('jury_clarifications_add') }}" class="btn btn-primary">
            <i class="fas fa-plus"></i> Adicionar nova clarificação
        </a>
    </div>
</div>

{% if clarifications is empty %}
    <div class="alert alert-info">
        Não há clarificações para mostrar.
    </div>
{% else %}
    <div class="table-responsive">
        <table class="table table-sm table-striped table-hover">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Tempo</th>
                <th>De</th>
                <th>Para</th>
                <th>Assunto</th>
                <th><abbr title="Respondido?">?</abbr></th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            {% for clarification in clarifications %}
                <tr{% if not clarification.answered %} class="row_unanswered"{% endif %} id="clarification-{{ clarification.clarid }}">
                    <td>{{ clarification.clarid }}</td>
                    <td>{{ clarification.submittime | printtime }}</td>
                    <td>
                        {% if clarification.sender %}
                            <a href="{{ path('jury_team', {'teamId': clarification.sender.teamid}) }}">
                                {{ clarification.sender.effectiveName }}
                            </a>
                        {% else %}
                            Júri
                        {% endif %}
                    </td>
                    <td>
                        {% if clarification.recipient %}
                            <a href="{{ path('jury_team', {'teamId': clarification.recipient.teamid}) }}">
                                {{ clarification.recipient.effectiveName }}
                            </a>
                        {% else %}
                            Público
                        {% endif %}
                    </td>
                    <td>
                        {% if clarification.problem %}
                            P: <a href="{{ path('jury_problem', {'probId': clarification.problem.probid}) }}">
                                {{ clarification.problem.externalid }}
                            </a> -
                        {% endif %}
                        {{ clarification.subject }}
                        <div class="clarification-message">
                            <pre class="output_text">{{ clarification.message }}</pre>
                        </div>
                    </td>
                    <td class="text-center">
                        {% if clarification.answered %}
                            <i class="fas fa-check"></i>
                        {% else %}
                            <i class="fas fa-times"></i>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('jury_clarifications_edit', {'clarId': clarification.clarid}) }}"
                           class="btn btn-primary btn-sm">
                            <i class="fas fa-reply"></i> Responder
                        </a>
                        {% if is_granted('ROLE_ADMIN') %}
                            {{ include('jury/partials/delete_form.html.twig', {
                                url: path('jury_clarifications_delete', {'clarId': clarification.clarid}),
                                label: 'Apagar',
                                icon: 'trash-alt',
                                confirm: 'Tem a certeza que deseja apagar a clarificação ' ~ clarification.clarid ~ '?',
                                class: 'btn-danger btn-sm'
                            }) }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}