{{ form_start(form) }}
<div class="form-row">
    <div class="form-group col-md-4">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        {{ form_help(form.name) }}
        {{ form_errors(form.name) }}
    </div>
    <div class="form-group col-md-4">
        {{ form_label(form.shortname) }}
        {{ form_widget(form.shortname) }}
        {{ form_help(form.shortname) }}
        {{ form_errors(form.shortname) }}
    </div>
    <div class="form-group col-md-4">
        {{ form_label(form.externalid) }}
        {{ form_widget(form.externalid) }}
        {{ form_help(form.externalid) }}
        {{ form_errors(form.externalid) }}
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-6">
        {{ form_label(form.start_time) }}
        <div class="input-group">
            <span class="input-group-append">
                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
            </span>
            {{ form_widget(form.start_time) }}
        </div>
        {{ form_help(form.start_time) }}
        {{ form_errors(form.start_time) }}
    </div>
    <div class="form-group col-md-6">
        {{ form_label(form.end_time) }}
        <div class="input-group">
            <span class="input-group-append">
                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
            </span>
            {{ form_widget(form.end_time) }}
        </div>
        {{ form_help(form.end_time) }}
        {{ form_errors(form.end_time) }}
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-6">
        {{ form_label(form.activate_time) }}
        <div class="input-group">
            <span class="input-group-append">
                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
            </span>
            {{ form_widget(form.activate_time) }}
        </div>
        {{ form_help(form.activate_time) }}
        {{ form_errors(form.activate_time) }}
    </div>
    <div class="form-group col-md-6">
        {{ form_label(form.deactivate_time) }}
        <div class="input-group">
            <span class="input-group-append">
                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
            </span>
            {{ form_widget(form.deactivate_time) }}
        </div>
        {{ form_help(form.deactivate_time) }}
        {{ form_errors(form.deactivate_time) }}
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-6">
        {{ form_label(form.scoreboard_freeze_duration) }}
        {{ form_widget(form.scoreboard_freeze_duration) }}
        {{ form_help(form.scoreboard_freeze_duration) }}
        {{ form_errors(form.scoreboard_freeze_duration) }}
    </div>
    <div class="form-group col-md-6">
        {{ form_label(form.scoreboard_unfreeze_time) }}
        <div class="input-group">
            <span class="input-group-append">
                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
            </span>
            {{ form_widget(form.scoreboard_unfreeze_time) }}
        </div>
        {{ form_help(form.scoreboard_unfreeze_time) }}
        {{ form_errors(form.scoreboard_unfreeze_time) }}
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-6">
        {{ form_label(form.process_balloons) }}
        {{ form_widget(form.process_balloons) }}
        {{ form_help(form.process_balloons) }}
        {{ form_errors(form.process_balloons) }}
    </div>
    <div class="form-group col-md-6">
        {{ form_label(form.public_scoreboard) }}
        {{ form_widget(form.public_scoreboard) }}
        {{ form_help(form.public_scoreboard) }}
        {{ form_errors(form.public_scoreboard) }}
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-6">
        {{ form_label(form.director) }}
        {{ form_widget(form.director) }}
        {{ form_help(form.director) }}
        {{ form_errors(form.director) }}
    </div>
    <div class="form-group col-md-6">
        {{ form_label(form.location) }}
        {{ form_widget(form.location) }}
        {{ form_help(form.location) }}
        {{ form_errors(form.location) }}
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-6">
        {{ form_label(form.citation) }}
        {{ form_widget(form.citation) }}
        {{ form_help(form.citation) }}
        {{ form_errors(form.citation) }}
    </div>
    <div class="form-group col-md-6">
        {{ form_label(form.finalizetime) }}
        <div class="input-group">
            <span class="input-group-append">
                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
            </span>
            {{ form_widget(form.finalizetime) }}
        </div>
        {{ form_help(form.finalizetime) }}
        {{ form_errors(form.finalizetime) }}
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-6">
        {{ form_label(form.unfinalize_on_edit) }}
        {{ form_widget(form.unfinalize_on_edit) }}
        {{ form_help(form.unfinalize_on_edit) }}
        {{ form_errors(form.unfinalize_on_edit) }}
    </div>
</div>

<h2 class="mt-4">Opções avançadas</h2>

<div class="form-row">
    <div class="form-group col-md-6">
        {{ form_label(form.problem_lock_interval) }}
        {{ form_widget(form.problem_lock_interval) }}
        {{ form_help(form.problem_lock_interval) }}
        {{ form_errors(form.problem_lock_interval) }}
    </div>
    <div class="form-group col-md-6">
        {{ form_label(form.default_limit_reached) }}
        {{ form_widget(form.default_limit_reached) }}
        {{ form_help(form.default_limit_reached) }}
        {{ form_errors(form.default_limit_reached) }}
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-6">
        {{ form_label(form.result_display_limit) }}
        {{ form_widget(form.result_display_limit) }}
        {{ form_help(form.result_display_limit) }}
        {{ form_errors(form.result_display_limit) }}
    </div>
    <div class="form-group col-md-6">
        {{ form_label(form.languages_limit) }}
        {{ form_widget(form.languages_limit) }}
        {{ form_help(form.languages_limit) }}
        {{ form_errors(form.languages_limit) }}
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-6">
        {{ form_label(form.default_penalty) }}
        {{ form_widget(form.default_penalty) }}
        {{ form_help(form.default_penalty) }}
        {{ form_errors(form.default_penalty) }}
    </div>
    <div class="form-group col-md-6">
        {{ form_label(form.penalty_calc_policy) }}
        {{ form_widget(form.penalty_calc_policy) }}
        {{ form_help(form.penalty_calc_policy) }}
        {{ form_errors(form.penalty_calc_policy) }}
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-6">
        {{ form_label(form.print_account) }}
        {{ form_widget(form.print_account) }}
        {{ form_help(form.print_account) }}
        {{ form_errors(form.print_account) }}
    </div>
    <div class="form-group col-md-6">
        {{ form_label(form.scoreh_sortorder) }}
        {{ form_widget(form.scoreh_sortorder) }}
        {{ form_help(form.scoreh_sortorder) }}
        {{ form_errors(form.scoreh_sortorder) }}
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-6">
        {{ form_label(form.scoreh_team_sortorder) }}
        {{ form_widget(form.scoreh_team_sortorder) }}
        {{ form_help(form.scoreh_team_sortorder) }}
        {{ form_errors(form.scoreh_team_sortorder) }}
    </div>
    <div class="form-group col-md-6">
        {{ form_label(form.scoreh_style) }}
        {{ form_widget(form.scoreh_style) }}
        {{ form_help(form.scoreh_style) }}
        {{ form_errors(form.scoreh_style) }}
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-6">
        {{ form_label(form.balloon_style) }}
        {{ form_widget(form.balloon_style) }}
        {{ form_help(form.balloon_style) }}
        {{ form_errors(form.balloon_style) }}
    </div>
    <div class="form-group col-md-6">
        {{ form_label(form.auto_finalize_duration) }}
        {{ form_widget(form.auto_finalize_duration) }}
        {{ form_help(form.auto_finalize_duration) }}
        {{ form_errors(form.auto_finalize_duration) }}
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-6">
        {{ form_label(form.verification_required) }}
        {{ form_widget(form.verification_required) }}
        {{ form_help(form.verification_required) }}
        {{ form_errors(form.verification_required) }}
    </div>
</div>

<h2 class="mt-4">Ficheiros de Contesto</h2>

<div class="form-group">
    {{ form_label(form.yaml_file) }}
    {{ form_widget(form.yaml_file) }}
    {{ form_help(form.yaml_file) }}
    {{ form_errors(form.yaml_file) }}
</div>

<div class="form-group">
    {{ form_label(form.event_file) }}
    {{ form_widget(form.event_file) }}
    {{ form_help(form.event_file) }}
    {{ form_errors(form.event_file) }}
</div>

{{ form_rest(form) }}

<button type="submit" class="btn btn-primary">Guardar</button>
{{ form_end(form) }}